<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h2>Add a url to fetch insights</h2>

  <form action="/pagestats" method="POST">
    <input type="text" placeholder="Enter url" name="url">
    <input type="text" placeholder="Enter site name" name="site">
    <input type="text" placeholder="Enter page name" name="label">
    <input type="text" placeholder="Enter platform" name="platform">
    <button type="submit">Submit</button>
  </form>

</body>
</html>